@inherits LayoutComponentBase

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .page {
        display: flex;
        height: 100%;
    }

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    article.content {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 0;
    }

</style>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
